

/*list of pages_by_template*/
.d_pages_by{}
.d_pages_by div{
  margin-bottom: 24px;
}
.d_pages_by h3{
  margin-bottom: 10px;
}


.d_pages_by_nav{
  text-align: left;
}
.d_pages_by_nav .d_nav{
  padding-left: 20px;
}
.d_pages_by_nav .d_nav li{
  /*list-style-type: none;*/
  font-weight: 700;
}

.d_pages_by_template{
  text-align: left;
}
.d_pages_by_template div{
  /*margin-bottom: 24px;*/
}
.d_pages_by_template h5{
  margin-bottom: 5px;
}